@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/stylesheet/IndexStyleshteet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
     
</head>

<body>


    <section class="content">
        <div>
            <img src="~/images/budget.jpg" style="height:300px; background-size:cover ;width:100% " />
            @*<img src="~/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg" style="height:300px; background-size:cover ;width:100% " />*@
            @*<img src="~/images/image.jpg" style="height:300px; width:1000px " />*@
            @*<img src="~/images/__1__1114001547291916_SupportemployeeswithfinancialskillsMAIN.jpg" style=" height:50%; width:1000px " />*@
            @*<img src="~/images/thought-catalog-505eectW54k-unsplash.jpg" style="height:300px; background-size:cover ;width:100% " />*@
        </div>


        <div class="head-point " style="height: 300px; background-color: #F9FBE7";">
            <div  style="padding-top:30px">


                <h2 style="font-family: 'Roboto Mono', monospace; padding-left:50px"><b>Make a Classic Budget</b></h2>
                <p style="        padding-left: 50px; font-family: 'Padauk', sans-serif; font-size: 16px">
                    Budgeting your money is the cornerstone of a sound financial plan, and seeing all the numbers in black and white can offer valuable perspective on where your money is going and where you could put it to better use.
                 
                    A budget can help you spot areas where you're spending more than you realize and can also be set up to allow for the occasional indulgence as well as unforeseen emergencies. You have lots of reasons to set aside a few hours to build a classic budget—especially when you can do it in four practically painless steps.

                    Gather into one place all your electronic or paper bills, receipts, pay stubs  bank statements, and any other record of income or expense for at least a month. Or keep track of monthly income and expenditures as they happen.
                </p>
            </div>


        </div>


        <div class="row" id="cards" style=" height: 400px">
            <br /><br />
            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>Monthly Expenses</h3>
                    <p>Make a list of all of your regular monthly expenses. Include rent or house payments, car payments, food expenditures, all types of insurance, and utilities.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>Yours Earnings</h3>
                    <p>Calculate how much money you expect to make each month after taxes and other payroll deductions. Only include income sources that you know you can depend on.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>03</span>
                    <h3>Invest in Yourself</h3>
                    <p>If you find you have money left after you check all these boxes, think about using some or all of it to pay down debts or add to a savings account or investment portfolio.</p>
                </div>
            </div>

        </div>

         


        <div class="container mt-5"><hr></div>


        <div class="container" style="        background-color: #EFEBE9;">

            <div class="row ">


                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <h1 style="margin-top: 40px; font-family: 'Grandstander', cursive;"><b>Savings: Big-Money Life Goals</b></h1>
                    <p class="p-4" style="font-family: 'Padauk', sans-serif; font-size: 16px">
                        “I take my ‘big money’ life goals very seriously,” she said. Goals might include three- 
                        to six-months of living expenses in an emergency fund, paying off debt, and investing 
                        for retirement. She suggested contributing to goals by setting up automatic transfers
                        from checking to goal-oriented high-yield savings accounts or retirement accounts.
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <img src="~/images/What-is-your-budget.jpg" height="350" width="450" />

                </div>
            </div><br><hr>


            <div class="row">
                <div class="col-lg-5 col-sm-6 ">
                    <img src="~/images/__1__1114001547291916_SupportemployeeswithfinancialskillsMAIN.jpg" height="350" width="450" />

                    @*<img src="~/images/Living-Off-Rental-Income-Is-It-Possible-How.jpg" width="450" height="400" />*@

                </div>
                <div class="col-lg-7 col-sm-6 align-self-center ">
                    <br />
                    <h1 style="font-family: 'Grandstander', cursive;"><b>Put Your Budget to Work</b></h1>
                    <p class="p-4" style="font-family: 'Padauk', sans-serif; font-size: 16px">
                        Once you figure out how much money you're spending and where  you're <br /> in a better position, 
                        take the necessary steps to put<br /> your financial future front and center.
                        Reduce Spending
                        Start by <br /> cutting spending on items you don't need. For example, do you need a $5 coffee every morning?<br /> Could you make  do with a smaller, older car? Instead of an<br /> expensive vacation,
                        would you be willing to try a stay-at-home.
                    </p>
                </div>
            </div>
            <br><hr><br><br>


            <div class="row ">


                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <h1 style="margin-top: 40px; font-family: 'Grandstander', cursive;"><b>Track Your Expenses</b></h1>
                    <p class="p-4" style="font-family: 'Padauk', sans-serif; font-size:16px">
                        Tracking expenses isn't a time to judge good or bad or to even take action,
                        ” said Jenifer Sapel, president of Kirkland, Washington-based Utor Wealth, by email to The Balance. “Think of it
                        as like reading a book or meditating. It’s a time just to take note of the data.”

                        Then, enter your expenses into the spreadsheet at the end of the day or week. But if you’re intimidated by spreadsheets,
                        that’s okay, she explained—the tool isn’t as important as the process of taking inventory.
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <img src="~/images/IT_budget.jpg" width="450" height="350" />

                </div>
            </div><br><hr>

        </div>



             




         
         


    </section>
</body>